@font-face
{
font-family: beeFont;
/*Not sure how long the facebook link will work!!*/
src: url(Beetype-Filled.ttf) 
/* ALT LINKS: url(https://dl.dropboxusercontent.com/s/ru7zo36i6j9y4yy/Beetype-Filled.ttf?dl=1&token_hash=AAEfjs2W24IcgEeEizJx4ap0wjfvdLOUijWnDKg3tYu-bA); url(file:///Users/DanSutherland/Library/Fonts/Beetype-Filled.otf); */
}


body {
    font-family: beeFont;
	background-color: #000;
	color: #fff;

	/* Allow mouse dragging. */
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	
	/* disable touch panning/zooming */
	-ms-touch-action: none;
	touch-action: none;

	/* Allow canvas to hit the edges of the browser viewport. */
	margin: 0;
}

#screen canvas {
	margin: auto;

	/* Hide the gap for font descenders. */
	display: block;
	
	/* disable scaling interpolation */
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}
